* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

.app {
    min-height: 100vh;
    width: 100%;

    background: var(--bg-color);
    color: var(--text-color);

    transition:
        background 0.3s ease,
        color 0.3s ease;
}


/* =========================
   LIGHT MODE
========================= */

.app.light {
    --bg-color: #ffffff;
    --card-bg: #ffffff;
    --text-color: #111111;
    --secondary-text: #666666;
    --muted-text: #6b7280;
    --border-color: #dddddd;
    --input-bg: #ffffff;
}


/* =========================
   DARK MODE
========================= */

.app.dark {
    --bg-color: #111111;
    --card-bg: #1f1f1f;
    --text-color: #f5f5f5;
    --secondary-text: #aaaaaa;
    --muted-text: #a1a1aa;
    --border-color: #333333;
    --input-bg: #111111;
}


/* =========================
   GLOBAL ELEMENTS
========================= */

.app h1,
.app h2,
.app h3,
.app h4,
.app h5,
.app h6 {
    color: var(--text-color);
}

.app p {
    color: var(--text-color);
}

.app input,
.app textarea,
.app select {
    background: var(--input-bg);
    color: var(--text-color);
    border-color: var(--border-color);
}