*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}



html,
body,
#root{

    min-height:100%;

}



body{

    font-family:Arial, sans-serif;

}



.app{

    min-height:100vh;

    transition:0.3s;

}



/* LIGHT MODE */

.app.light{

    background:white;

    color:black;

}



/* DARK MODE */

.app.dark{

    background:#111;

    color:white;

}



/* all headings */

.app.dark h1,
.app.dark h2,
.app.dark h3,
.app.dark p{

    color:white;

}



.app.light h1,
.app.light h2,
.app.light h3,
.app.light p{

    color:black;

}