.activity-card{

    margin-top:40px;

    background:#222;

    color:white;

    padding:25px;

    border-radius:15px;

    border:1px solid #333;

}



.activity-card h2{

    margin-bottom:25px;

}



.activity-item{

    display:flex;

    gap:15px;

    align-items:center;

    padding:15px;

    margin-bottom:15px;

    background:#1b1b1b;

    border-radius:12px;

    border-left:5px solid #555;

}



.activity-item.created{

    border-left-color:#22c55e;

}



.activity-item.completed{

    border-left-color:#3b82f6;

}



.activity-item.deleted{

    border-left-color:#ef4444;

}




.activity-icon{

    font-size:28px;

}



.activity-content h3{

    margin:0;

    font-size:18px;

}



.activity-content p{

    margin:5px 0;

}



.activity-content small{

    color:#aaa;

}