.activity-card{


    padding:25px;

    border-radius:15px;

    border:1px solid #333;

    margin:30px 0;

    transition:0.3s;

}



/* Dark Mode */

.app.dark .activity-card{

    background:#222;

    color:white;

}



/* Light Mode */

.app.light .activity-card{

    background:#f5f5f5;

    color:black;

}





.activity-card h2{

    margin-bottom:20px;

}





.activity-item{

    padding:18px;

    margin-bottom:15px;

    border-radius:10px;

    border:1px solid #333;

    transition:0.3s;

}





.app.dark .activity-item{

    background:#1b1b1b;

}





.app.light .activity-item{

    background:white;

}





.activity-item:hover{

    transform:translateX(5px);

}





.activity-header{

    display:flex;

    align-items:center;

    gap:10px;

}





.activity-icon{

    font-size:22px;

}





.activity-header h3{

    margin:0;

}





.activity-item p{

    margin:10px 0;

}





.app.dark .activity-item p{

    color:#ddd;

}



.app.light .activity-item p{

    color:#444;

}





.activity-item small{

    color:#888;

}