.add-task{

    display:flex;
    gap:10px;
    margin:20px;

}


.add-task input{

    padding:10px;
    border-radius:5px;
    border:1px solid #ccc;

}


.add-task button{

    padding:10px 20px;
    background:black;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;

}