.add-task{

    display:flex;

    gap:10px;

    margin:20px 0;

}



/* Inputs */

.add-task input,
.add-task select{

    padding:12px;

    border-radius:8px;

    border:1px solid #ccc;

    outline:none;

}



/* Dark Mode */

.app.dark .add-task input,
.app.dark .add-task select{

    background:#222;

    color:white;

    border:1px solid #444;

}



/* Light Mode */

.app.light .add-task input,
.app.light .add-task select{

    background:white;

    color:black;

}





/* Button */

.add-task button{

    padding:10px 20px;

    border:none;

    border-radius:8px;

    cursor:pointer;

    transition:0.3s;

}



/* Dark Button */

.app.dark .add-task button{

    background:white;

    color:black;

}



/* Light Button */

.app.light .add-task button{

    background:black;

    color:white;

}



.add-task button:hover{

    transform:scale(1.05);

}





@media(max-width:768px){

    .add-task{

        flex-direction:column;

    }


    .add-task input,
    .add-task select,
    .add-task button{

        width:100%;

    }

}