.dashboard{

    padding:40px;
    min-height:100vh;
    background:#111;
    color:white;

}


.dashboard h1{

    margin-bottom:30px;

}



.stats-container{

    display:flex;

    gap:20px;

    margin-bottom:30px;

}



.task-container{

    display:grid;

    grid-template-columns:repeat(auto-fit, minmax(280px,1fr));

    gap:20px;

}