.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 60px;

    transition:0.3s;

}



.logo{

    font-size:24px;

}



.nav-links{

    display:flex;

    gap:20px;

    align-items:center;

}



.nav-links a{

    text-decoration:none;

    color:inherit;

}



.nav-links button{

    cursor:pointer;

}



.app.dark .navbar{

    background:#222;

    color:white;

}



.app.light .navbar{

    background:white;

    color:black;

}



.theme-btn{

    border:none;

    padding:8px 12px;

    cursor:pointer;

    border-radius:8px;

    font-size:18px;

}



.user-name{

    font-weight:bold;

    margin:0 10px;

}