.project-details{

    padding:50px;

}


.project-details h1{

    font-size:40px;

}



.project-progress-box{

    margin:30px 0;

    padding:20px;

    background:#222;

    border-radius:15px;

}



.details-tasks{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;

}



.detail-task-card{

    background:#222;

    padding:25px;

    border-radius:15px;

}



.detail-task-card span{

    color:#4ade80;

}



@media(max-width:800px){

.details-tasks{

    grid-template-columns:1fr;

}

}

.tasks-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

}


.tasks-header button{

    padding:12px 20px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    background:#4ade80;

    color:black;

    font-weight:bold;

}



.project-task-form{

    margin:20px 0;

    padding:25px;

    background:#222;

    border-radius:15px;

    display:flex;

    flex-direction:column;

    gap:15px;

}



.project-task-form input,
.project-task-form textarea,
.project-task-form select{

    padding:12px;

    border-radius:8px;

    border:1px solid #444;

    background:#111;

    color:white;

}



.project-task-form button{

    padding:12px;

    border:none;

    border-radius:8px;

    background:#4ade80;

    cursor:pointer;

    font-weight:bold;

}
/* TASK CARD */

.detail-task-card{

    background:#222;

    border:1px solid #333;

    padding:25px;

    border-radius:18px;

    transition:0.3s;

}


.detail-task-card:hover{

    transform:translateY(-5px);

    border-color:#4ade80;

}



.detail-task-card h3{

    margin-bottom:12px;

    font-size:22px;

}



.detail-task-card p{

    color:#aaa;

}






/* PRIORITY */

.task-priority{

    margin-top:20px;

}



.task-priority span{

    padding:6px 14px;

    border-radius:20px;

    margin-left:10px;

    font-weight:bold;

}





.priority-high{

    background:#ef4444;

    color:white;

}



.priority-medium{

    background:#facc15;

    color:black;

}



.priority-low{

    background:#4ade80;

    color:black;

}





/* STATUS */

.task-status-row{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-top:20px;

}



.task-status-row select{


    padding:8px 15px;

    border-radius:20px;

    border:none;

    cursor:pointer;

    font-weight:bold;

}




.status-todo{

    background:#6b7280;

    color:white;

}



.status-in-progress{

    background:#3b82f6;

    color:white;

}



.status-completed{

    background:#22c55e;

    color:white;

}




/* DATE */

.task-date{

    margin-top:20px;

    font-size:14px;

}