.task-card{


    background:#222;

    padding:20px;

    border-radius:12px;

    border:1px solid #333;

    transition:0.3s;


}



.task-card:hover{

    transform:translateY(-5px);

}





.completed-card{

    opacity:0.7;

}





.task-card h3{

    margin-bottom:10px;

}





.task-card p{

    color:#ccc;

}





.pending{

    display:inline-block;

    margin-top:10px;

    color:#facc15;

    font-weight:bold;

}





.completed{

    display:inline-block;

    margin-top:10px;

    color:#4ade80;

    font-weight:bold;

}





.date{

    margin-top:10px;

    font-size:14px;

    color:#999;

}





.task-buttons{

    margin-top:15px;

    display:flex;

    gap:10px;

    flex-wrap:wrap;

}





.task-buttons button{

    padding:8px 14px;

    border:none;

    border-radius:6px;

    cursor:pointer;

}





@media(max-width:768px){


    .task-buttons{

        flex-direction:column;

    }



    .task-buttons button{

        width:100%;

    }


}