.tasks-page {

    min-height:100vh;

    padding:50px 70px;

    box-sizing:border-box;

}


.tasks-header {

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:35px;

}


.tasks-header h1 {

    font-size:40px;

    margin-bottom:8px;

}


.tasks-header p {

    font-size:18px;

    color:#777;

}


.add-task-btn {

    padding:13px 22px;

    border:none;

    border-radius:8px;

    background:#111;

    color:white;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

}


.add-task-btn:hover {

    transform:translateY(-2px);

}


.tasks-toolbar {

    display:flex;

    gap:15px;

    margin-bottom:30px;

    flex-wrap:wrap;

}


.tasks-toolbar input {

    width:300px;

    padding:13px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:15px;

}


.tasks-toolbar select {

    padding:13px;

    border-radius:8px;

    border:1px solid #ccc;

    background:white;

    color:black;

}


.tasks-list {

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;

}


.task-card {

    padding:25px;

    border:1px solid #ddd;

    border-radius:12px;

    background:white;

}


.task-card h3 {

    margin-bottom:10px;

}


.task-card p {

    color:#777;

}


.empty-tasks {

    grid-column:1/-1;

    text-align:center;

    padding:80px 20px;

    border:1px dashed #ccc;

    border-radius:15px;

}


.empty-icon {

    font-size:50px;

    margin-bottom:15px;

}


.empty-tasks h2 {

    margin-bottom:10px;

}


.empty-tasks p {

    color:#777;

    margin-bottom:20px;

}


/* DARK MODE */

.app.dark .tasks-page {

    background:#111;

    color:white;

}


.app.dark .tasks-header p {

    color:#aaa;

}


.app.dark .tasks-toolbar input {

    background:#222;

    color:white;

    border-color:#444;

}


.app.dark .tasks-toolbar select {

    background:#222;

    color:white;

    border-color:#444;

}


.app.dark .task-card {

    background:#222;

    border-color:#333;

}


.app.dark .task-card p {

    color:#aaa;

}


.app.dark .empty-tasks {

    border-color:#444;

}


.app.dark .empty-tasks p {

    color:#aaa;

}


.app.dark .add-task-btn {

    background:white;

    color:black;

}


/* MOBILE */

@media(max-width:800px) {

    .tasks-page {

        padding:30px;

    }


    .tasks-header {

        flex-direction:column;

        align-items:flex-start;

        gap:20px;

    }


    .tasks-list {

        grid-template-columns:1fr;

    }

}


@media(max-width:600px) {

    .tasks-page {

        padding:20px;

    }


    .tasks-toolbar {

        flex-direction:column;

    }


    .tasks-toolbar input {

        width:100%;

    }

}